# Macos files
.DS_Store

# Logs
logs
*.log
# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

performance/dst/
